In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
import pandas as pd

Each News text and corresponding summary is saved in seperate text files in seperate folders titled 'News' and 'Summary'. Moreover, there are 5 different news categories; Business, Politics, Entertainment, Sports, Tech. All of this data has to be collated into one csv file. Due to organization of those files and folders, the task has to be divided into 2 groups.

### **GROUP 1**

In [4]:
news_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/BBC News Summary/News Articles/business/')

In [5]:
summ_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/BBC News Summary/Summaries/business/')

In [6]:
len(news_entries)

510

In [7]:
len(summ_entries)

510

In [9]:
df = pd.DataFrame(columns = ['News', 'Summary', 'Field'])

In [ ]:
for i in range(len(news_entries)):
  fn = '/content/drive/MyDrive/BBC News Summary/BBC News Summary/News Articles/business/' + news_entries[i]
  fs = '/content/drive/MyDrive/BBC News Summary/BBC News Summary/Summaries/business/' + news_entries[i]
  # print(entries[i])
  fln = open(fn, 'r')
  fls = open(fs, 'r')
  news = ''
  for each in fln:
    news = news + each

  summ = ''
  for each2 in fls:
    summ = summ + each2

  df.loc[len(df.index)] = [news, summ, 'Business']

In [ ]:
news_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/BBC News Summary/News Articles/entertainment/')
summ_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/BBC News Summary/Summaries/entertainment/')

for i in range(len(news_entries)):
  fn = '/content/drive/MyDrive/BBC News Summary/BBC News Summary/News Articles/entertainment/' + news_entries[i]
  fs = '/content/drive/MyDrive/BBC News Summary/BBC News Summary/Summaries/entertainment/' + news_entries[i]
  # print(entries[i])
  fln = open(fn, 'r')
  fls = open(fs, 'r')
  news = ''
  for each in fln:
    news = news + each

  summ = ''
  for each2 in fls:
    summ = summ + each2

  df.loc[len(df.index)] = [news, summ, 'Entertainment']

In [ ]:
news_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/BBC News Summary/News Articles/politics/')
summ_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/BBC News Summary/Summaries/politics/')

for i in range(len(news_entries)):
  fn = '/content/drive/MyDrive/BBC News Summary/BBC News Summary/News Articles/politics/' + news_entries[i]
  fs = '/content/drive/MyDrive/BBC News Summary/BBC News Summary/Summaries/politics/' + summ_entries[i]
  # print(entries[i])
  fln = open(fn, 'r')
  fls = open(fs, 'r')
  news = ''
  for each in fln:
    news = news + each

  summ = ''
  for each2 in fls:
    summ = summ + each2

  df.loc[len(df.index)] = [news, summ, 'Politics']

In [ ]:
news_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/BBC News Summary/News Articles/sport/')
summ_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/BBC News Summary/Summaries/sport/')

for i in range(len(news_entries)):
  fn = '/content/drive/MyDrive/BBC News Summary/BBC News Summary/News Articles/sport/' + news_entries[i]
  fs = '/content/drive/MyDrive/BBC News Summary/BBC News Summary/Summaries/sport/' + news_entries[i]
  # print(entries[i])
  fln = open(fn, 'r')
  fls = open(fs, 'r')
  news = ''
  for each in fln:
    news = news + each

  summ = ''
  for each2 in fls:
    summ = summ + each2

  df.loc[len(df.index)] = [news, summ, 'Sport']

In [ ]:
news_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/BBC News Summary/News Articles/tech/')
summ_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/BBC News Summary/Summaries/tech/')

for i in range(len(news_entries)):
  fn = '/content/drive/MyDrive/BBC News Summary/BBC News Summary/News Articles/tech/' + news_entries[i]
  fs = '/content/drive/MyDrive/BBC News Summary/BBC News Summary/Summaries/tech/' + news_entries[i]
  # print(entries[i])
  fln = open(fn, 'r')
  fls = open(fs, 'r')
  news = ''
  for each in fln:
    news = news + each

  summ = ''
  for each2 in fls:
    summ = summ + each2

  df.loc[len(df.index)] = [news, summ, 'Tech']

### **GROUP 2**

In [ ]:
news_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/News Articles/business/')
summ_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/Summaries/business/')

for i in range(len(news_entries)):
  fn = '/content/drive/MyDrive/BBC News Summary/News Articles/business/' + news_entries[i]
  fs = '/content/drive/MyDrive/BBC News Summary/Summaries/business/' + news_entries[i]
  # print(entries[i])
  fln = open(fn, 'r')
  fls = open(fs, 'r')
  news = ''
  for each in fln:
    news = news + each

  summ = ''
  for each2 in fls:
    summ = summ + each2

  df.loc[len(df.index)] = [news, summ, 'Business']

In [ ]:
news_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/News Articles/entertainment/')
summ_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/Summaries/entertainment/')

for i in range(len(news_entries)):
  fn = '/content/drive/MyDrive/BBC News Summary/News Articles/entertainment/' + news_entries[i]
  fs = '/content/drive/MyDrive/BBC News Summary/Summaries/entertainment/' + news_entries[i]
  # print(entries[i])
  fln = open(fn, 'r')
  fls = open(fs, 'r')
  news = ''
  for each in fln:
    news = news + each

  summ = ''
  for each2 in fls:
    summ = summ + each2

  df.loc[len(df.index)] = [news, summ, 'Entertainment']

In [ ]:
news_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/News Articles/politics/')
summ_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/Summaries/politics/')

for i in range(len(news_entries)):
  fn = '/content/drive/MyDrive/BBC News Summary/News Articles/politics/' + news_entries[i]
  fs = '/content/drive/MyDrive/BBC News Summary/Summaries/politics/' + news_entries[i]
  # print(entries[i])
  fln = open(fn, 'r')
  fls = open(fs, 'r')
  news = ''
  for each in fln:
    news = news + each

  summ = ''
  for each2 in fls:
    summ = summ + each2

  df.loc[len(df.index)] = [news, summ, 'Politics']

In [ ]:
news_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/News Articles/sport/')
summ_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/Summaries/sport/')

for i in range(len(news_entries)):
  fn = '/content/drive/MyDrive/BBC News Summary/News Articles/sport/' + news_entries[i]
  fs = '/content/drive/MyDrive/BBC News Summary/Summaries/sport/' + news_entries[i]
  # print(entries[i])
  fln = open(fn, 'r')
  fls = open(fs, 'r')
  news = ''
  for each in fln:
    news = news + each

  summ = ''
  for each2 in fls:
    summ = summ + each2

  df.loc[len(df.index)] = [news, summ, 'Sport']

In [ ]:
news_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/News Articles/tech/')
summ_entries = os.listdir('/content/drive/MyDrive/BBC News Summary/Summaries/tech/')

for i in range(len(news_entries)):
  fn = '/content/drive/MyDrive/BBC News Summary/News Articles/tech/' + news_entries[i]
  fs = '/content/drive/MyDrive/BBC News Summary/Summaries/tech/' + news_entries[i]
  # print(entries[i])
  fln = open(fn, 'r')
  fls = open(fs, 'r')
  news = ''
  for each in fln:
    news = news + each

  summ = ''
  for each2 in fls:
    summ = summ + each2

  df.loc[len(df.index)] = [news, summ, 'Tech']

Finally the collated dataset has 3848 data samples.

In [ ]:
df

,News,Summary,Field
0,Peugeot deal boosts Mitsubishi\n\nStruggling J...,Struggling Japanese car maker Mitsubishi Motor...,Business
1,Jobs growth still slow in the US\n\nThe US cre...,The job gains mean that President Bush can cel...,Business
2,Call centre users 'lose patience'\n\nCustomers...,The drop in patience comes as the number of ca...,Business
3,Yukos unit buyer faces loan claim\n\nThe owner...,Yukos' owner Menatep Group says it will ask Ro...,Business
4,Ad sales boost Time Warner profit\n\nQuarterly...,TimeWarner said fourth quarter sales rose 2% t...,Business
...,...,...,...
3843,US cyber security chief resigns\n\nThe man mak...,Amit Yoran was director of the National Cyber ...,Tech
3844,New consoles promise big problems\n\nMaking ga...,Mr Walsh suggested that new studios should mak...,Tech
3845,Be careful how you code\n\nA new European dire...,This goes to the heart of the European project...,Tech
3846,BT program to beat dialler scams\n\nBT is intr...,BT is introducing two initiatives to help beat...,Tech
3847,TV's future down the phone line\n\nInternet TV...,"Last year, he said, was all about deal making ...",Tech

In [ ]:
df.to_csv('/content/drive/MyDrive/FullText.csv')